@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@layer base {
  * {
    @apply transition-colors duration-200;
  }
}


img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  pointer-events: none;
}

.animate-pulse-slow {
    animation: pulse 5s ease-in-out infinite;
}

.phrase_function_vertical {
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  transform: rotate(180deg);
}


/* Custom Classes */

.section-heading {
  @apply py-2 text-xl font-bold text-gray-900 dark:text-white;
}
