@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@layer base {
  * {
    @apply transition-colors duration-200;
  }
}

img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  pointer-events: none;
}


.animate-pulse-slow {
    animation: pulse 3s ease-in-out infinite;
}